@font-face {
	font-family: 'CocoGothic';
	src: url("../fonts/CocoGothic-UltraLight_trial.ttf") format('truetype');
}

body {
	font-family: 'Roboto', sans-serif;
	header {
		width: 100%;
		height: 100vh;
		background-image: url(../imgs/bg2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		.navbar-brand {
			margin-right: 2rem;
		}
		.nav {
			margin-bottom: 30px;
		}
		.menu-link {
			font-family: 'Roboto', sans-serif;
			color: #757575;
			transition: all .2s linear;
			&:hover {
				color: #fff;
				background-color: #85c82a;
			}
		}
		.social-link {
			padding-right: 0;
		}
		.header-content {
			margin-left: 50px;
			.display-1 {
				font-family: 'CocoGothic';
				font-size: 10em;
				color: #ff4a08;
			}
			p {
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				color: #665a56;
				font-size: 32px;
				line-height: 42px;
				position: relative;
				margin-bottom: 60px;
				&::after {
					content: "";
					display: block;
					width: 135px;
					height: 2px;
					background-color: #665a56;
					position: absolute;
					bottom: -40px;
					left: 0;
				}
			}
			h3 {
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				font-size: 22px;
				color: #ff4a08;
				margin: 10px 0;
			}
			.btn-choose {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 280px;
				height: 60px;
				font-size: 20px;
				color: #fff;
				background-color: #ff4a08;
				transition: all .3s linear;
				&:hover {
					background-color: #fff;
					border: 1px solid #ff4a08;
					color: #ff4a08;
					transition: all .3s linear;
				}
			}
		}
	}
}
