@charset "UTF-8";
@import url(../scss/media-screens.scss);
@font-face {
  font-family: 'Britannic';
  src: url("../fonts/Britannic-Bold_Regular.ttf") format("truetype"); }
body {
  font-family: 'Roboto', sans-serif; }
  body .title {
    color: #665a56;
    font-size: 2em;
    font-weight: 300;
    position: relative; }
    body .title::after {
      content: "";
      display: block;
      height: 3px;
      width: 65px;
      background-color: #ff4a08;
      position: absolute;
      bottom: -10px; }
  body header {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    body header .navbar-brand {
      margin-right: 2rem;
      width: 120px;
      height: 100%; }
    body header .navbar-nav {
      margin-bottom: 20px; }
    body header .navbar-toggler-icon {
      width: 30px;
      height: 3px;
      background-color: green;
      position: relative; }
      body header .navbar-toggler-icon::before {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        position: absolute;
        background-color: green;
        top: 10px; }
      body header .navbar-toggler-icon::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        position: absolute;
        background-color: green;
        bottom: 10px; }
    body header .nav-item:nth-last-child(2) {
      margin-left: 100px; }
    body header .nav-item:first-child {
      background-color: #85c82a; }
    body header .menu-link {
      font-family: 'Roboto', sans-serif;
      color: #757575;
      position: relative; }
      body header .menu-link::after {
        content: "";
        display: none;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: 24px; }
    body header .menu-link:hover::after {
      display: block; }
    body header .social-link {
      padding: 0; }
      body header .social-link:hover .social-icon {
        fill: #FF4A08; }
      body header .social-link .social-icon {
        width: 35px;
        height: 35px;
        fill: #6c6c6c; }
    body header .header-content {
      margin-left: 50px; }
      body header .header-content h1 {
        font-weight: 100;
        font-size: 10em;
        color: #ff4a08; }
      body header .header-content p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #665a56;
        font-size: 28px;
        line-height: 42px;
        position: relative;
        margin-bottom: 60px; }
        body header .header-content p::after {
          content: "";
          display: block;
          width: 135px;
          height: 2px;
          background-color: #665a56;
          position: absolute;
          bottom: -40px;
          left: 0; }
      body header .header-content h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: #ff4a08;
        margin: 10px 0; }
      body header .header-content .btn-choose {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 60px;
        font-size: 20px;
        color: #fff;
        background-color: #ff4a08;
        transition: all .3s linear; }
        body header .header-content .btn-choose:hover {
          background-color: #fff;
          border: 1px solid #ff4a08;
          color: #ff4a08;
          transition: all .3s linear; }
  body main .program {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/bg-program.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden; }
    body main .program h3 {
      color: #ff4a08;
      margin-top: 50px; }
    body main .program p {
      color: #665a56;
      font-weight: 300;
      font-size: 28px; }
    body main .program .circle-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; }
      body main .program .circle-wrapper .circle {
        position: relative; }
        body main .program .circle-wrapper .circle .circle-girl {
          width: 350px;
          height: 350px; }
        body main .program .circle-wrapper .circle .circle-link {
          position: absolute; }
          body main .program .circle-wrapper .circle .circle-link:hover span {
            transition: .2s; }
          body main .program .circle-wrapper .circle .circle-link:hover span::after {
            content: "БОЛЬШЕ \00BB";
            display: block;
            font-size: 14px;
            line-height: 2em;
            color: #ff4a08;
            text-align: center;
            transition: .2s; }
          body main .program .circle-wrapper .circle .circle-link span {
            position: absolute;
            z-index: 20;
            color: #5e5e5e;
            font-size: 16px;
            width: 150px;
            transition: .2s; }
        body main .program .circle-wrapper .circle #link-1 {
          top: -11%;
          left: -60%; }
          body main .program .circle-wrapper .circle #link-1 span {
            top: 100px;
            left: 60px; }
        body main .program .circle-wrapper .circle #link-2 {
          top: -56%;
          left: -20.5%; }
          body main .program .circle-wrapper .circle #link-2 span {
            top: 90px;
            left: 90px; }
        body main .program .circle-wrapper .circle #link-3 {
          top: -60.1%;
          left: 40%; }
          body main .program .circle-wrapper .circle #link-3 span {
            top: 110px;
            left: 90px; }
        body main .program .circle-wrapper .circle #link-4 {
          top: -20.2%;
          left: 84.7%; }
          body main .program .circle-wrapper .circle #link-4 span {
            top: 160px;
            left: 85px; }
        body main .program .circle-wrapper .circle #link-5 {
          top: 39.5%;
          left: 88.3%; }
          body main .program .circle-wrapper .circle #link-5 span {
            top: 120px;
            left: 60px; }
        body main .program .circle-wrapper .circle #link-6 {
          top: 84.5%;
          left: 48.5%; }
          body main .program .circle-wrapper .circle #link-6 span {
            top: 105px;
            left: 50px; }
        body main .program .circle-wrapper .circle #link-7 {
          top: 88.5%;
          left: -11.5%; }
          body main .program .circle-wrapper .circle #link-7 span {
            top: 90px;
            left: 40px; }
        body main .program .circle-wrapper .circle #link-8 {
          top: 48.5%;
          left: -197px; }
          body main .program .circle-wrapper .circle #link-8 span {
            top: 75px;
            left: 40px; }
        body main .program .circle-wrapper .circle .segment {
          height: 250px;
          width: 250px;
          position: absolute;
          --primary-color: #f6f8fa;
          --secondary-color: #edf3f3; }
          body main .program .circle-wrapper .circle .segment use:hover {
            cursor: pointer;
            --secondary-color: #ff4a08;
            color: red; }
        body main .program .circle-wrapper .circle #segment1 {
          transform: rotate(-44deg); }
        body main .program .circle-wrapper .circle #segment2 {
          transform: rotate(1deg); }
        body main .program .circle-wrapper .circle #segment3 {
          transform: rotate(47deg); }
        body main .program .circle-wrapper .circle #segment4 {
          transform: rotate(92deg); }
        body main .program .circle-wrapper .circle #segment5 {
          transform: rotate(136deg); }
        body main .program .circle-wrapper .circle #segment6 {
          transform: rotate(182deg); }
        body main .program .circle-wrapper .circle #segment7 {
          transform: rotate(-134deg); }
        body main .program .circle-wrapper .circle #segment8 {
          transform: rotate(-88deg); }
  body main .influence {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/bg-infl.jpg);
    background-size: cover;
    background-position: center center; }
    body main .influence .title {
      padding-top: 50px;
      margin-bottom: 50px; }
    body main .influence .icons-icon {
      padding-bottom: 30px;
      padding-left: 50px;
      text-align: center;
      transition: 1s linear;
      height: 200px;
      width: 200px;
      backface-visibility: hidden; }
      body main .influence .icons-icon img {
        width: 120px;
        height: 120px; }
      body main .influence .icons-icon:hover {
        transform: scale(1.1);
        transition: 1s linear;
        backface-visibility: hidden; }
    body main .influence .icons-icon__text {
      font-size: 20px;
      color: #665a56; }
  body main .choose {
    width: 100%;
    height: 400px;
    background-color: #FF8203;
    display: flex;
    align-items: center; }
    body main .choose .btn-choose {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      margin-top: 50px;
      color: #fff;
      font-size: 20px;
      background-color: #303030; }
      body main .choose .btn-choose:hover {
        border: 1px solid #303030;
        background-color: #fff;
        color: #303030; }
    body main .choose h4 {
      font-weight: 300;
      font-size: 3em;
      color: #fff; }
      body main .choose h4 .hash {
        color: #ff4a08;
        font-size: inherit; }
    body main .choose span {
      color: #303030;
      font-size: 20px; }
  body main .reviews {
    width: 100%;
    height: 520px;
    background-color: #303030;
    display: flex;
    align-items: center; }
    body main .reviews .reviews-title {
      color: #fff;
      font-weight: 300;
      font-size: 2em;
      position: relative;
      margin: 30px 0; }
      body main .reviews .reviews-title::after {
        content: "";
        display: block;
        height: 3px;
        width: 65px;
        background-color: #ff4a08;
        position: absolute;
        bottom: -10px; }
    body main .reviews .slider-item {
      color: #fff;
      display: flex; }
      body main .reviews .slider-item .quotes {
        font-family: 'Britannic';
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 4em;
        padding: 0 10px; }
      body main .reviews .slider-item p {
        color: #b5b5b5; }
      body main .reviews .slider-item .name {
        font-size: 20px; }
  body main .reasons {
    width: 100%;
    height: 100%;
    background-image: url(../imgs/bg-reasons.jpg);
    background-size: cover;
    background-position: center center; }
    body main .reasons .reasons-title {
      padding-top: 50px;
      margin-bottom: 50px; }
    body main .reasons .card {
      height: 615px;
      margin-bottom: 20px; }
    body main .reasons .card-header {
      padding-top: 130px;
      padding-left: 150px;
      height: 210px;
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      position: relative;
      background-image: url(../svg/bg-icon.svg);
      background-size: cover; }
      body main .reasons .card-header::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -29px;
        right: 60px;
        border-style: solid;
        border-width: 30px 25px 0 25px;
        border-color: #ff5207 transparent transparent transparent; }
      body main .reasons .card-header .card-icon {
        width: 100px;
        position: absolute;
        left: 20px;
        bottom: 20px; }
    body main .reasons .card-body {
      background-color: #f6f8fa; }
  body footer {
    width: 100%;
    height: 460px;
    background-image: url(../imgs/bg-footer.jpg);
    background-size: cover;
    padding-top: 50px; }
    body footer .footer-logo_link {
      width: 80px;
      height: 100px;
      display: block; }
    body footer .footer-title {
      color: #fff;
      font-weight: 400;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center; }
      body footer .footer-title .title-icon {
        width: 30px;
        margin-right: 10px; }
    body footer .contact-content {
      border-top: 1px solid #ff4a08;
      padding-top: 20px; }
      body footer .contact-content .contact {
        display: block;
        color: #a1a1a1;
        font-size: 18px;
        line-height: 3em;
        width: 80%;
        transition: 1s; }
        body footer .contact-content .contact:hover {
          text-decoration: none;
          transform: translateX(20px);
          transition: 1s; }
      body footer .contact-content p {
        color: #fff;
        font-size: 18px;
        line-height: 2em;
        border-top: 1px solid #ff4a08;
        padding: 10px; }
      body footer .contact-content .social {
        display: flex;
        justify-content: center; }
        body footer .contact-content .social .social-link {
          margin: 0 10px; }
          body footer .contact-content .social .social-link:hover .social-icon {
            fill: #FF4A08; }
          body footer .contact-content .social .social-link .social-icon {
            width: 35px;
            height: 35px;
            fill: #fff; }
    body footer .question-content {
      border-top: 1px solid #ff4a08;
      padding-top: 20px; }
      body footer .question-content p {
        color: #a1a1a1;
        font-size: 18px;
        font-weight: 300; }
    body footer .form-content {
      border-top: 1px solid #ff4a08;
      padding-top: 20px; }
      body footer .form-content .btn-send {
        background-color: #ff4a08;
        color: #fff;
        width: 175px;
        height: 45px; }
        body footer .form-content .btn-send:hover {
          background-color: #fff;
          color: #ff4a08; }
      body footer .form-content #area-message {
        margin-top: -1rem; }

/*# sourceMappingURL=style.css.map */
