@font-face {

	font-family: 'Britannic';
	src: url("../fonts/Britannic-Bold_Regular.ttf") format('truetype');
}

body {
	font-family: 'Roboto', sans-serif;
	.title {
		color: #665a56;
		font-size: 2em;
		font-weight: 300;
		position: relative;
		&::after {
			content: "";
			display: block;
			height: 3px;
			width: 65px;
			background-color: #ff4a08;
			position: absolute;
			bottom: -10px;
		}
	}
	header {
		width: 100%;
		height: 100vh;
		background-image: url(../imgs/bg2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		.navbar-brand {
			margin-right: 2rem;
			width: 120px;
			height: 100%;
		}
		.navbar-nav {
			margin-bottom: 20px;
		}
		.navbar-toggler-icon {
			width: 30px;
			height: 3px;
			background-color: green;
			position: relative;
			&::before {
				content: "";
				display: block;
				width: 30px;
				height: 3px;
				position: absolute;
				background-color: green;
				top: 10px;
			}
			&::after {
				content: "";
				display: block;
				width: 30px;
				height: 3px;
				position: absolute;
				background-color: green;
				bottom: 10px;
			}
		}
		.nav-item:nth-last-child(2) {
			margin-left: 100px;
		}
		.nav-item:first-child {
			background-color: #85c82a;
		}
		.menu-link {
			font-family: 'Roboto', sans-serif;
			color: #757575;
			position: relative;
			&::after {
				content: "";
				display: none;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: red;
				position: absolute;
				top: 24px;
			}
		}
		.menu-link:hover::after {
			display: block;
		}
		.social-link {
			padding: 0;
			//			margin-left: 15px;
			&:hover .social-icon {
				fill: #FF4A08;
			}
			.social-icon {
				width: 35px;
				height: 35px;
				fill: #6c6c6c;
			}
		}
		.header-content {
			margin-left: 50px;
			h1 {
				font-weight: 100;
				font-size: 10em;
				color: #ff4a08;
			}
			p {
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				color: #665a56;
				font-size: 28px;
				line-height: 42px;
				position: relative;
				margin-bottom: 60px;
				&::after {
					content: "";
					display: block;
					width: 135px;
					height: 2px;
					background-color: #665a56;
					position: absolute;
					bottom: -40px;
					left: 0;
				}
			}
			h3 {
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				font-size: 22px;
				color: #ff4a08;
				margin: 10px 0;
			}
			.btn-choose {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 280px;
				height: 60px;
				font-size: 20px;
				color: #fff;
				background-color: #ff4a08;
				transition: all .3s linear;
				&:hover {
					background-color: #fff;
					border: 1px solid #ff4a08;
					color: #ff4a08;
					transition: all .3s linear;
				}
			}
		}
	}
	main {
		.program {
			width: 100%;
			height: 100vh;
			background-image: url(../imgs/bg-program.jpg);
			background-size: cover;
			background-position: center center;
			overflow: hidden;
			h3 {
				color: #ff4a08;
				margin-top: 50px;
			}
			p {
				color: #665a56;
				font-weight: 300;
				font-size: 28px;
			}
			.circle-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				.circle {
					position: relative;
					.circle-girl {
						width: 350px;
						height: 350px;
					}
					.circle-link {
						position: absolute;
						&:hover span {
							transition: .2s;
						}
						&:hover span::after {
							content: "БОЛЬШЕ \00BB";
							display: block;
							font-size: 14px;
							line-height: 2em;
							color: #ff4a08;
							text-align: center;
							transition: .2s;
						}
						span {
							position: absolute;
							z-index: 20;
							color: #5e5e5e;
							font-size: 16px;
							width: 150px;
							transition: .2s;
						}
					}
					#link-1 {
						top: -11%;
						left: -60%;
						span {
							top: 100px;
							left: 60px;
						}
					}
					#link-2 {
						top: -56%;
						left: -20.5%;
						span {
							top: 90px;
							left: 90px;
						}
					}
					#link-3 {
						top: -60.1%;
						left: 40%;
						span {
							top: 110px;
							left: 90px;
						}
					}
					#link-4 {
						top: -20.2%;
						left: 84.7%;
						span {
							top: 160px;
							left: 85px;
						}
					}
					#link-5 {
						top: 39.5%;
						left: 88.3%;
						span {
							top: 120px;
							left: 60px;
						}
					}
					#link-6 {
						top: 84.5%;
						left: 48.5%;
						span {
							top: 105px;
							left: 50px;
						}
					}
					#link-7 {
						top: 88.5%;
						left: -11.5%;
						span {
							top: 90px;
							left: 40px;
						}
					}
					#link-8 {
						top: 48.5%;
						left: -197px;
						span {
							top: 75px;
							left: 40px;
						}
					}
					.segment {
						height: 250px;
						width: 250px;
						position: absolute;
						--primary-color: #f6f8fa;
						--secondary-color: #edf3f3;
						use:hover {
							cursor: pointer;
							--secondary-color: #ff4a08;
							color: red;
						}
					}
					#segment1 {
						transform: rotate(-44deg);
					}
					#segment2 {
						transform: rotate(1deg);
					}
					#segment3 {
						transform: rotate(47deg);
					}
					#segment4 {
						transform: rotate(92deg);
					}
					#segment5 {
						transform: rotate(136deg);
					}
					#segment6 {
						transform: rotate(182deg);
					}
					#segment7 {
						transform: rotate(-134deg);
					}
					#segment8 {
						transform: rotate(-88deg);
					}
				}
			}
		}
		.influence {
			width: 100%;
			height: 100vh;
			background-image: url(../imgs/bg-infl.jpg);
			background-size: cover;
			background-position: center center;
			.title {
				padding-top: 50px;
				margin-bottom: 50px;
			}
			.icons-icon {
				padding-bottom: 30px;
				padding-left: 50px;
				text-align: center;
				transition: 1s linear;
				height: 200px;
				width: 200px;
				backface-visibility: hidden;
				img {
					width: 120px;
					height: 120px;
				}
				&:hover {
					transform: scale(1.1);
					transition: 1s linear;
					backface-visibility: hidden;
				}
			}
			.icons-icon__text {
				font-size: 20px;
				color: #665a56;
			}
		}
		.choose {
			width: 100%;
			height: 400px;
			background-color: #FF8203;
			display: flex;
			align-items: center;
			.btn-choose {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 60px;
				margin-top: 50px;
				color: #fff;
				font-size: 20px;
				background-color: #303030;
				&:hover {
					border: 1px solid #303030;
					background-color: #fff;
					color: #303030;
				}
			}
			h4 {
				font-weight: 300;
				font-size: 3em;
				color: #fff;
				.hash {
					color: #ff4a08;
					font-size: inherit;
				}
			}
			span {
				color: #303030;
				font-size: 20px;
			}
		}
		.reviews {
			width: 100%;
			height: 520px;
			background-color: #303030;
			display: flex;
			align-items: center;
			.reviews-title {
				color: #fff;
				font-weight: 300;
				font-size: 2em;
				position: relative;
				margin: 30px 0;
				&::after {
					content: "";
					display: block;
					height: 3px;
					width: 65px;
					background-color: #ff4a08;
					position: absolute;
					bottom: -10px;
				}
			}
			.slider-item {
				color: #fff;
				display: flex;
				.quotes {
					font-family: 'Britannic';
					height: 50px;
					display: flex;
					align-items: center;
					font-size: 4em;
					padding: 0 10px;
				}
				p {
					color: #b5b5b5;
				}
				.name {
					font-size: 20px;
				}
			}
		}
		.reasons {
			width: 100%;
			height: 100%;
			background-image: url(../imgs/bg-reasons.jpg);
			background-size: cover;
			background-position: center center;
			.reasons-title {
				padding-top: 50px;
				margin-bottom: 50px;
			}
			.card {
				height: 615px;
				margin-bottom: 20px;
			}
			.card-header {
				padding-top: 130px;
				padding-left: 150px;
				height: 210px;
				color: #fff;
				font-weight: 500;
				font-size: 20px;
				position: relative;
				background-image: url(../svg/bg-icon.svg);
				background-size: cover;
				&::after {
					content: "";
					display: block;
					position: absolute;
					bottom: -29px;
					right: 60px;
					border-style: solid;
					border-width: 30px 25px 0 25px;
					border-color: #ff5207 transparent transparent transparent;
				}
				.card-icon {
					width: 100px;
					position: absolute;
					left: 20px;
					bottom: 20px;
				}
			}
			.card-body {
				background-color: #f6f8fa;
			}
		}
	}
	footer {
		width: 100%;
		height: 460px;
		background-image: url(../imgs/bg-footer.jpg);
		background-size: cover;
		padding-top: 50px;
		.footer-logo_link {
			width: 80px;
			height: 100px;
			display: block;
		}
		.footer-title {
			color: #fff;
			font-weight: 400;
			height: 36px;
			display: flex;
			justify-content: center;
			align-items: center;
			.title-icon {
				width: 30px;
				margin-right: 10px;
			}
		}
		.contact-content {
			border-top: 1px solid #ff4a08;
			padding-top: 20px;
			.contact {
				display: block;
				color: #a1a1a1;
				font-size: 18px;
				line-height: 3em;
				width: 80%;
				transition: 1s;
				&:hover {
					text-decoration: none;
					transform: translateX(20px);
					transition: 1s;
				}
			}
			p {
				color: #fff;
				font-size: 18px;
				line-height: 2em;
				border-top: 1px solid #ff4a08;
				padding: 10px;
			}
			.social {
				display: flex;
				justify-content: center;
				.social-link {
					margin: 0 10px;
					&:hover .social-icon {
						fill: #FF4A08;
					}
					.social-icon {
						width: 35px;
						height: 35px;
						fill: #fff;
					}
				}
			}
		}
		.question-content {
			border-top: 1px solid #ff4a08;
			padding-top: 20px;
			p {
				color: #a1a1a1;
				font-size: 18px;
				font-weight: 300;
			}
		}
		.form-content {
			border-top: 1px solid #ff4a08;
			padding-top: 20px;
			.btn-send {
				background-color: #ff4a08;
				color: #fff;
				width: 175px;
				height: 45px;
				&:hover {
					background-color: #fff;
					color: #ff4a08;
				}
			}
			#area-message {
				margin-top: -1rem;
			}
		}
	}
}

@import url(../scss/media-screens.scss);
